html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*------------------------------------------------------------------------
BASE
-------------------------------------------------------------------------*/

body{
    background-color: white;
    font-family: 'Roboto', 'Dosis', sans-serif;
    font-size: 18px;
}

a{
    text-decoration: none;
}


/*------------------------------------------------------------------------
MISE EN PAGE
-------------------------------------------------------------------------*/

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}



/*------------------------------------------------------------------------
MODULES
-------------------------------------------------------------------------*/


/*-------- HEADER --------*/

header{
    padding-bottom: 0px;
    padding-top: 0px;
    height: 100px;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    margin-right: 40px;
}

header p{
    font-size: 40px;
    font-weight: bold;
    color: black;
}

header ul{
    display: flex;
    list-style: none;
}

header nav ul li{
    margin-left: 30px;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: white;
    background-color: #0E5EA1;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


/*-------- HERO --------*/


.hero{
    background-image: url(../images/section.jpg);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Dosis', sans-serif;
    color: white;
}

.hero h1{
    font-size: 50px;
    font-weight: bold;
    padding-top: 80px;
}

.hero p{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
}

.texte{
    display: grid;
    justify-content: center;
    align-self: center;
}

/*-------- CONTENU --------*/


.contenu h2{
    font-size: 36px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    color: #0E5EA1;
}

.artcontenu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    width: 370px;
    height: 585px;
}

.artcontenu h3{
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.artcontenu p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.artcontenu a{
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #b7b7b7;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.artcontenu a:hover{
    background-color: #0E5EA1;
    color: white;
}

.art{
    background-color: white;
    border-bottom: #0E5EA1;
}


/*-------- FOOTER --------*/

footer{
    background-color: black;
    height: 70px;
}

footer p{
    text-align: center;
    color: white;
    padding-top: 25px;
}

